{% load static %}

<link rel="stylesheet" href="{% static "css/semantic.min.css" %}">
<link rel="stylesheet" href="{% static "css/rangeslider.css" %}">
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/semantic.min.js" %}"></script>
<script src="{% static "js/rangeslider.min.js" %}"></script>
<script src="{% static "js/rivets.bundled.min.js" %}"></script>

<script src="{% static "js/app.js" %}"></script>

<style>
    :root {
        --border-w: 4px;
        --cell-back-color: #f0f0f0;
    }

    table {
        border-collapse: collapse;
    }

    td {
        border: var(--border-w) solid white;
        background: var(--cell-back-color);
        position: relative;

        height: 100%;
    }

    td.overall::after {
        position: absolute;
        content: '';
        width: var(--border-w);
        height: 100%;
        background: var(--cell-back-color);
        left: calc(0px - var(--border-w));
        top: 0;
    }

    tr:nth-child(2) > td:first-child {
        border-top-left-radius: 15px;
    }

    tr:nth-child(2) > td:last-child {
        border-top-right-radius: 15px;
    }

    tr:last-child > td:first-child {
        border-bottom-left-radius: 15px;
    }

    tr:last-child > td:last-child {
        border-bottom-right-radius: 15px;
    }

    .cell-container, .score-container {
        padding: 2px 10px;
        position: relative;
    }

    .criteria-detail-popup {
        width: 400px;
        min-height: 400px;
    }

    .score-detail-popup {
        width: 300px;
        min-height: 300px;
    }

</style>

<table>
    <tr>
        <th colspan="{{ treeHeight|add:1 }}"></th>

        {% for tool in tools %}
            <th>{{ tool.name }} v{{ tool.version }}</th>
        {% endfor %}

    </tr>
    {% for row in rowGroup %}
        <tr>
            {% for cell in row %}
                {% include 'criteriaCell.html' with node=cell treeHeight=treeHeight tools=tools %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<a
        href="#"
        onClick="window.open('/manage/criteria/criteria/add/?_to_field=id&_popup=1','Score', 'width=600,height=400'); return false;">
    Add Criteria</a>

<br>
<br>
<br>

<strong>Scores:</strong>
<ul>
    <li>0: Not available</li>
    <li>1: Have serious issues</li>
    <li>2: Below average</li>
    <li>3: As expected</li>
    <li>4: Above average</li>
    <li>5: Outstanding</li>
</ul>