{% load common_tags %}

<td
        {% if node.leafCount > 0 %}
            rowspan="{{ node.leafCount }}"
        {% elif node.depth < treeHeight %}
            colspan="{{ treeHeight|sub:node.depth|add:1 }}"
        {% endif %}

        {% if node.isSelfScore %}
            class="overall"
        {% endif %}
>
    <div class="cell-container" id="criteriaCell{{ node.criteria.pk }}">
        {% if not node.isSelfScore %}
            <span class="name">{{ node.criteria.name }}</span>
            {%  if node.criteria.inspiredFrom %}<span>[{{ node.criteria.inspiredFrom }}]</span>{% endif %}
{#            [{{ node.criteria.pk }}]#}
            <br>
            <span class="benefits-score">B: {{ node.criteria.benefits }} </span>
            <span class="hurts-score"> H: {{ node.criteria.hurts }}</span>
{#            <br><span>{{ node.calculatedScores }}</span>#}
{#            <br><br>#}
{#            <span style="font-size: 0.8em; color: gray;">{{ node.criteria.description }}</span>#}
        {% endif %}
    </div>
    <div class="ui flowing popup criteria-detail-popup" id="criteriaPopup{{ node.criteria.pk }}">
        {% include 'criteriaDetail.html' with criteria=node.criteria %}
    </div>
</td>

{% if node.leafCount == 0 %}
    {% for tool in tools %}
        {% with givenScore=node.scores|dictLookup:tool.pk|getField:'score' givenNotes=node.scores|dictLookup:tool.pk|getField:'notes' %}
            <td>
                <div class="score-container" id="scoreCellC{{ node.criteria.pk }}T{{ tool.pk }}" {% if givenScore != 0 and not givenScore %}
                     style="background: red"{% endif %}>
                    <span class="score">{% if givenScore or givenScore == 0 %}
                        {{ givenScore }}
{#                        <br><br>#}
{#                        <span style="font-size: 0.8em; color: gray;">{{ givenNotes }}</span>#}
                    {% else %}
                        Not Scored
                    {% endif %}</span>
                </div>
                <div class="ui flowing popup score-detail-popup" id="scorePopupC{{ node.criteria.pk }}T{{ tool.pk }}">
                    {% if givenScore or givenScore == 0 %}
                        {% include 'scoreDetail.html' with criteria=node.criteria tool=tool initialScore=givenScore initialNotes=givenNotes %}
                    {% else %}
                        {% include 'scoreDetail.html' with criteria=node.criteria tool=tool initialScore=0 initialNotes='' %}
                    {% endif %}
                </div>
            </td>
        {% endwith %}
    {% endfor %}
{% endif %}
