{% load common_tags %}

<td
        {% if node.leafCount > 0 %}
            rowspan="{{ node.leafCount }}"
        {% elif node.depth < treeHeight %}
            colspan="{{ treeHeight|sub:node.depth|add:1 }}"
        {% endif %}

        {% if node.isSelfScore %}
            class="overall"
        {% endif %}
>
    <div class="cell-container">
        {% if not node.isSelfScore %}
            {{ node.criteria.name }} [{{ node.criteria.pk }}] B{{ node.criteria.benefits }} H{{ node.criteria.hurts }}
            <a
                    href="#"
                    onClick="window.open('/manage/criteria/criteria/{{ node.criteria.pk }}/change/?_to_field=id&_popup=1','Edit Criteria', 'width=600,height=400'); return false;">
                edit</a>
        {% endif %}
    </div>
    <div class="ui flowing popup">
        <div class="header">{{ node.criteria.description }}</div>
        <div class="ui button">Click Me</div>
    </div>
</td>

{% if node.leafCount == 0 %}
    {% for tool in tools %}
        {% with node.scores|dictLookup:tool.pk|getField:'score' as givenScore %}
            {% if givenScore %}
                <td>
                    {{ givenScore }}

                    <a
                            href="#"
                            onClick="window.open('/manage/criteria/criteriascore/{{ node.scores|dictLookup:tool.pk|getField:'pk' }}/change/?_to_field=id&_popup=1','Edit Score', 'width=600,height=400'); return false;">
                        edit</a>
                </td>
            {% else %}
                <td style="background: red">
                    Not Scored
                    <a
                            href="#"
                            onClick="window.open('/manage/criteria/criteriascore/add/?_to_field=id&_popup=1','Score', 'width=600,height=400'); return false;">
                        score</a>
                </td>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endif %}
