<style>
table, th, td {
    border: 1px solid black;
}
</style>

<table>
    <tr>
        <th colspan="{{ treeHeight|add:1 }}"></th>

        {% for tool in tools %}
            <th>{{ tool.name }} v{{ tool.version }}</th>
        {% endfor %}

    </tr>
    {% for row in rowGroup %}
        <tr>
            {% for cell in row %}
                {% include 'criteriaCell.html' with node=cell treeHeight=treeHeight tools=tools %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<a
    href="#"
    onClick="window.open('/manage/criteria/criteria/add/?_to_field=id&_popup=1','Score', 'width=600,height=400'); return false;">
    Add Criteria</a>